<h1>Food</h1>
<a href="/login">login</a>
<a href="/dishes/new"><h2>post new dish</h2></a>
<% @dishes.each do |dish| %>
	<p>
		<a href="/dishes/<%= dish.id %>">
			<%= dish.name %>
			<img src=<%= dish.image_url%>>
		</a>
	</p>
<% end %>