<h1>Whelcome to fridge management</h1>

<form action="/users/search" method="POST">
	<p>USER NAME: <input type="text" name="username"></p>
	<p>PASSWORD: <input type="password" name="password"></p>
	<button>LOGIN</button>
</form>
<a href="/users/new">SIGNUP</a>