<h3><%= @alert %></h3>
<form action="/users" method="POST">
	<p>USERNAME : <input type="text" name="username"></p>
	<p>EMAIL : <input type="text" name="email"></p>
	<p>PASSWORD : <input type="password" name="password"></p>
	<p>PASSWORD CONFIRMATION : <input type="password" name="password_confirmation"></p>
	<button>LOGIN</button>
</form>